/* .img_canvas {
    background-color: grey;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#img {
    background-color: green;
    /* margin: 0 auto; */

    height: 150px;
    width: 150px;
}

.it_icon {
    height: 60px;
    width: 60px;
}
 */
